
@import url( './include/reset.css' );
@import url( './include/base.css' );
@import url( './include/common.css' );

dl.cat {
    margin: 0 0 10px 0;
}

dl.cat > dt {
    margin: 0 0 20px 0;
}

dl.cat > dt label {
    font-weight: bold;
    font-size: 16px;
}

dl.cat > dd {
}

dl.cat_item {
    margin: 5px 20px 5px;
}

dl.cat_item > dt {
}

dl.cat_item > dd a img {
    height: 120px;
    border: 1px solid #ececec;
}

dl.cat_item > dd {
    float: left;
    width: 200px;
    margin: 10px 10px 10px;
}
